html{
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
    color: #fff;
}

body{
    background: url('../images/bg-desktop.svg') center bottom no-repeat;
    background-color: hsl(257, 40%, 49%);
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.header{
    padding: 30px 60px 50px 60px;
}

.logo{
    width: 100%;
    margin: 0 auto;
    max-width: 1440px;
}

.main-landing-page{
    gap: 20px;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-content: center;
}

.informations-landing-page{
    max-width: 510px;
    margin-left: 50px;
}

.informations-landing-page .titulo{
    margin-top: 60px;
    max-width: 400px;
    font-weight: 600;
    font-size: 3rem;
}

.informations-landing-page .p-landing-page{
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Open Sans', sans-serif;
    line-height: 2.5rem;
}

.informations-landing-page .btn-landing-page{
    font-family: 'Open Sans', sans-serif;
    padding: 10px 50px;
    background-color: #fff;
    border-radius: 50px;
    transition: 0.3s;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.informations-landing-page .btn-landing-page:hover{
    background-color: hsl(300, 69%, 71%);
    color: #fff;
}

.social{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 30px 50px 0px;
}

.social .circle-social{
    border:0.5px solid white;
    border-radius:100%;
    background:rgba(0,0,0,0);
    color:white;
    width:50px;
    height:50px;
    margin: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.social .circle-social:hover{
    font-size: 1.5rem;
    color: hsl(300, 69%, 71%);
    border: 0.5px solid hsl(300, 69%, 71%);
}

.social .circle-social i{
 font-size: 2.5rem;
}


@media(max-width: 1024px){
    
    .main-landing-page img{
        max-width: 50%;
        margin: 0 auto;
    }

    .informations-landing-page{
        margin-left: 30px;
        font-size: 1.7rem;
    }

    .informations-landing-page .titulo{
        margin-top: 40px;
        max-width: 400px;
        font-weight: 600;
        font-size: 3rem;
    }

    .informations-landing-page .p-landing-page{
        margin-top: 10px;
    }
    
}

@media(max-width: 768px){

    body{
        background: url('../images/bg-mobile.svg') top center no-repeat;
        background-color: hsl(257, 40%, 49%);
        background-size: contain;
        min-height: 100vh;  
    }

    .header{
        padding: 0 15px 30px;
    }
    
    .main-landing-page{
        padding: 0 30px 0 30px;
    }

    .main-landing-page img{
        max-width: 50%;
        margin: 0 auto;
    }

    .informations-landing-page .titulo{
        margin-top: 35px;
    }

    .informations-landing-page .p-landing-page{
        font-size: 1.5rem;
        margin-top: 10px;
    }

    .social{
        padding-bottom: 10px;
        margin-top: 60px;
    }
}

@media(max-width: 425px){
    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px 0 30px 50px;
    }

    .logo{
        display: flex;
        justify-content: flex-start;
    }

    .logo img{
        max-width: 120px;
    }


    .main-landing-page{
        flex-direction: column;
    }

    .main-landing-page img{
        max-width: 90%;
        margin: 0 auto;
    }

    .informations-landing-page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin:  0 auto;
        padding: 40px;
        text-align: center;
    }

    .informations-landing-page .titulo{
        font-size: 2.2rem;
    }

    .informations-landing-page .btn-landing-page{
        padding: 10px 65px;
    }

    .social{
        justify-content: center;
        padding: 20px 0 40px 0;
        margin: 0;

    }
}

@media(max-width:375px){
    .header{ 
        padding: 30px 0 30px 30px;
    }

    .main-landing-page{
        padding: 0 15px 0 15px;
    }

    .informations-landing-page{
        padding: 25px;
    }
}